<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="browserTest">
    <parameter name="browser" value="${browser.name}"></parameter>
    <classes>
      <class name="com.test.crossbrowsertesting.LoginTest"/>
      <class name="com.test.crossbrowsertesting.AccountPageTest"/>
    </classes>
  </test> <!-- Test -->
  

</suite> <!-- Suite -->